<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.caravan.openweb"
    version="0.1.0">

  <name>OpenWeb</name>
	<author>JayStack</author>

	<description>
		WP8 open link in external browser
	</description>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

  <!-- wp8 -->
  <platform name="wp8">

    <config-file target="config.xml" parent="/*">
      <feature name="OpenWeb">
        <param name="wp-package" value="OpenWeb"/>
      </feature>
    </config-file>

    <source-file src="OpenWeb.cs" />

  </platform>

</plugin>
